@page "/gps"
@implements IDisposable
@inject Shiny.Locations.IGpsManager gpsManager
@using System.Reactive.Threading.Tasks;
@using Shiny.Locations;

<h1>GPS</h1>

<p role="status">Status: @status</p>
<p role="log">Latitude: @this.reading?.Position.Latitude</p>
<p role="log">Longitude: @this.reading?.Position.Longitude</p>
<p role="log">Altitude: @this.reading?.Altitude</p>
<p role="log">Speed: @this.reading?.Speed</p>
<p role="log">Heading: @this.reading?.Heading</p>
<p role="log">Accuracy: @this.reading?.PositionAccuracy</p>
<p role="log">Timestamp: @this.reading?.Timestamp.ToLocalTime()</p>

<button class="btn btn-primary" @onclick="@(async () => await DoCurrent())">Current Position</button>
@if (this.listening)
{
    <button class="btn btn-danger" @onclick="@(async () => await Stop())">Stop Listening</button>
}
else
{
    <button class="btn btn-success" @onclick="@(async () => await Start())">Start Listening</button>
}

@code {
    GpsReading? reading = null;
    string status = "Unknown";
    bool listening = false;
    IDisposable sub = null!;

    protected override async Task OnInitializedAsync()
    {
        this.status = (await this.gpsManager.RequestAccess(GpsRequest.Realtime(true))).ToString();

        this.sub = this.gpsManager
            .WhenReading()
            .Subscribe(x => this.Update(x));

        await base.OnInitializedAsync();
    }

    public void Dispose()
    {
        this.sub.Dispose();
    }

    async Task DoCurrent()
    {
        @*var pos = await this.gpsManager.GetCurrentPosition().ToTask();*@
        var pos = await this.gpsManager.GetLastReading().ToTask();
        if (pos != null)
            this.Update(pos);
    }

    async Task Start()
    {
        await this.gpsManager.StartListener(GpsRequest.Realtime(true));
        this.listening = true;
    }

    async Task Stop()
    {
        await this.gpsManager.StopListener();
        this.listening = false;
    }

    void Update(GpsReading reading)
    {
        this.reading = reading;
        this.StateHasChanged();
    }
}
